<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/mainFragments :: mainHead ('business','tag')}"></div>
    <link rel="stylesheet" type="text/css" href="/css/util/expandText.css">
    <link rel="stylesheet" type="text/css" href="/css/util/popUp.css">
    <link rel="stylesheet" type="text/css" href="/css/store.css">
</head>
<body>
<div class="container-md sidenav">
    <div th:replace="~{fragments/sideFragments :: sidebar}"></div>
    <div class="container-md mx-sm-1 mx-md-5 mt-3">
        <div class="row color-primary py-3 rounded">
            <div class="col-md-2 text-center">
                <img class="rounded-circle mx-auto d-block" th:if="${business.image != null}"
                     th:src="@{'/img/UserImage/' + ${business.image}}" alt="Image" height="100" width="100">
                <img class="rounded-circle mx-auto d-block" th:unless="${business.image != null}"
                     src="/img/Default.jpg"
                     alt="Default Image"
                     height="100" width="100">
                <span class="text-center pt-2 fs-5 fw-bold" th:text="${business.name}">Store Name</span>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <p class="col-md-2 col-sm-5 fs-6">
                        Rating: <span th:text="${business.rating}">0.0</span><br>
                        Phone: <span th:text="${business.phoneNumber}">N/A</span>
                    </p>
                    <p class="col-md-10 col-sm-7 fs-6">
                        Address: <span class="toggle-show"
                                       th:text="${business.businessAddress.toString()}">N/A</span>
                    </p>
                </div>
                <div class="row px-3 ">
                    <form class="col-md-10 col-sm-8 d-flex align-items-center justify-content-center"
                          th:action="@{/owner/search}" method="get">
                        <div class="d-flex flex-fill bg-white p-1 rounded">
                            <input type="text" class="p-2 fs-6 border-0 w-100" id="search-bar" name="search"
                                   placeholder="Search..."/>
                            <button type="submit" class="search-button fw-semibold border-0 rounded px-3">Search
                            </button>
                        </div>
                    </form>
                    <div class="col-md-2 col-sm-4 d-flex align-items-center">
                        <a class="btn color-background" href="/owner/add/">Add Item</a>
                    </div>
                </div>
            </div>
        </div>

        <table class="table my-2">
            <thead>
            <tr>
                <th class="text-center">Image</th>
                <th class="text-center">Name</th>
                <th class="text-center">Description</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Price</th>
                <th class="text-center">Command</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${business.getItems()}">
                <td>
                    <div class="product-image">
                        <img th:if="${product.image != null}" th:src="@{'/img/UserImage/' + ${product.image}}"
                             alt="Image" class="rounded" height="65" width="65">
                        <img th:unless="${product.image != null}" src="/img/Default.jpg" alt="Default Image" class="rounded"
                             height="65" width="65">
                    </div>
                </td>
                <td class="align-middle">
                    <span class="fw-bold fs-6" th:text="${product.name}">Product Name</span>
                </td>
                <td class=" align-middle">
                    <span class="text-break toggle-show" th:text="${product.description}">Stock: N/A</span>
                </td>
                <td class="text-center align-middle">
                    <span class="" th:text="${product.quantity}">Price: N/A</span>
                </td>
                <td class="text-center align-middle">
                    <span class="" th:text="${product.price}">Price: N/A</span>
                </td>
                <td class="text-center align-middle">
                    <a onclick="showConfirmationPopup('delete this item', $(this).attr('href')); return false;"
                       th:href="@{/owner/del/{id}(id=${product.itemId})}"
                       class="btn btn-danger col-md-6 col-sm-12">Delete</a>
                    <a class="btn btn-success col-md-6 col-sm-12"
                       th:href="@{/owner/update/{id}(id=${product.itemId})}">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="~{fragments/mainFragments :: script}"></div>
<script src="/js/popUp.js"></script>
<script src="/js/expandText.js"></script>
</body>
</html>
