<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/mainFragments :: mainHead ('Change Password','tag')}"></div>
    <link type="text/css" href="/css/fragment/form.css">
</head>
<body>
<div th:replace="~{fragments/mainFragments :: simpleHeader('Change Password', 'all')}"></div>

<main>
    <div class="my-3 container color-background d-flex justify-content-center align-items-center">
        <div th:replace="~{fragments/sideFragments :: userInfoSidebar}"></div>
        <div class="col-md-8 col-sm-7 p-3">
            <form th:action="@{/user/updatePassword}" method="post">
                <div class="my-2">
                    <label for="currentPassword">Current Password:</label>
                    <input type="password" id="currentPassword" name="currentPassword" class="form-control" required/>
                    <div class="invalid-feedback">
                        Please enter your original password.
                    </div>
                </div>
                <div class="my-2">
                    <label for="newPassword">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" required/>
                    <div class="invalid-feedback">
                        Please enter your new password.
                    </div>
                </div>
                <div class="my-2">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"/>
                    <span class="alert-danger" id="passwordError" style="display: none;">Passwords do not match.</span>
                    <div class="invalid-feedback">
                        Please reenter your new password.
                    </div>
                </div>
                <div th:if="${error}" class="error-message">
                    <p th:text="${error}"></p>
                </div>
                <button id="submit-button" type="submit" class="btn color-primary float-end">Update Password</button>
            </form>
        </div>
    </div>
</main>

<script>
    document.getElementById('submit-button').addEventListener('click', function (event) {
        var newPassword = document.getElementById('newPassword').value;
        var confirmPassword = document.getElementById('confirmPassword').value;
        var passwordError = document.getElementById('passwordError');

        if (newPassword !== confirmPassword) {
            event.preventDefault(); // Prevent form submission
            passwordError.style.display = 'block';
        } else {
            passwordError.style.display = 'none';
        }
    });
</script>
</body>
</html>