<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Store Details</title>
    <link rel="stylesheet" href="/bootstrap5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fragment/search.css">
    <link rel="stylesheet" type="text/css" href="/css/util/expandText.css">
</head>
<body>
<div class="container">
    <div class="row color-primary py-3 rounded ">
        <div class="col-md-2 text-center">
            <img class="rounded-circle mx-auto d-block" th:if="${business.image != null}"
                 th:src="@{'/img/UserImage/' + ${business.image}}" alt="Image" height="100" width="100">
            <img class="rounded-circle mx-auto d-block" th:unless="${business.image != null}" src="/img/Default.jpg"
                 alt="Default Image"
                 height="100" width="100">
            <span class="text-center pt-2 fs-5 fw-bold" th:text="${business.name}">Store Name</span>
        </div>
        <div class="col-md-10">
            <div class="row">
                <p class="col-md-2 col-sm-5 fs-6">
                    Rating: <span th:text="${business.rating}">0.0</span><br>
                    Phone: <span th:text="${business.phoneNumber}">N/A</span>
                </p>
                <p class="col-md-10 col-sm-7 fs-6">
                    Address: <span class="toggle-show" th:text="${business.businessAddress.toString()}">N/A</span>
                </p>
            </div>
            <form class="row px-3 d-flex align-items-center justify-content-center"
                  th:action="@{/user/searchItems/{id}(id=${business.businessId})}"
                  method="get">
                <div class="d-flex flex-fill bg-white p-1 rounded">
                    <input type="text" class="p-2 fs-6 border-0 w-100" id="search-bar" name="search" placeholder="Search..."/>
                    <button type="submit" class="search-button fw-semibold border-0 rounded px-3">Search</button>
                </div>
            </form>
        </div>

    </div>
    <div class="row py-4 mx-md-5 px-md-5">
        <div class="col-md-4 col-sm-6" th:each="product : ${business.getItems()}">
            <div class="card m-3">
                <img th:if="${product.image != null}" th:src="@{'/img/UserImage/' + ${product.image}}"
                     class="card-img-top" alt="Image" height="200">
                <img th:unless="${product.image != null}" src="/img/Default.jpg" class="card-img-top"
                     alt="Default Image" height="200">
                <div class="card-body">
                    <h4 class="card-title" th:text="${product.name}">Product Name</h4>
                    <form action="#" method="get" th:action="@{/user/addCart/{id}(id=${product.itemId})}">
                        <p class="card-text text-default text-black toggle-show" th:text="${product.description}">N/A</p>
                        <p class="card-text text-default text-black">Stock: <span
                                th:text="${product.quantity}">N/A</span></p>
                        <p class="card-text text-default text-black">Price: $<span
                                th:text="${product.price}">N/A</span>
                        </p>
                        <button type="submit" class="btn btn-success">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/expandText.js"></script>
</body>
</html>
